$theme-colors: (
  "primary":    #5265E1,
  "secondary":  #FA5959
);
$primary:       #5265E1;
$secondary:     #FA5959;

@import "../node_modules/bootstrap/scss/bootstrap";


p{
  color: $gray-600;
}
.btn-light{
  background-color: $gray-200;
  border-color: $gray-200;
}

.navbar .btn-secondary{
  color: $white;
}
.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 1);
    border: none;
}

#navMobile{
  .modal-header{
    border-bottom: none;
  }
  .modal-content{
    background-color: rgba(36, 41, 70, 0.9);
    .btn-close{
      background: center/1em auto no-repeat url(../dist/img/icon-close.svg);
      opacity: 1;
    }
  }
  .nav-item{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    text-align: center;
    color: $white;
    .nav-link{
      color: $white;
    }
    .btn{
      color: $white;
    }
  }
  .modal-footer{
    border-top: none;
  }
}

#hero{
  margin: 80px 0;
  position: relative;
  .btn-primary{
    margin: 0 20px 0 0;
  }
  @media only screen and (max-width: 767px) {
    text-align: center;
    margin: 40px 0 80px 0;
  }
  @media only screen and (max-width: 340px) {
    .btn-primary{
      margin: 0px 10px 20px 10px;
    }
  }
}

#features{
  margin: 80px 0;
  @media only screen and (max-width: 767px) {
    margin: 40px 0 80px 0;
  }
  img{
    max-height: 430px;
    @media only screen and (max-width: 767px) {
      max-height: 280px;
    }  
  }
  @media only screen and (max-width: 767px) {
    text-align: center;
  }
  .nav-tabs{
    @media only screen and (max-width: 767px) {
      border: none;
    }
  } 
  .nav-tabs .nav-link{
    color: $gray-600;
    @media only screen and (max-width: 767px) {
      border-color: $gray-200;
      border-left: none;
      border-right: none;
      padding: 15px;
    }
    &:hover{
      border-color: $white $white $gray-200 $white;
      color: $secondary;
      @media only screen and (max-width: 767px) {
        border-color: $gray-200 $white $gray-200 $white;
      }
    }
  }
  .nav-link.active{
    border-color: $white $white $secondary;
    border-width: 0 0 4px 0;
    color: $black;
    @media only screen and (max-width: 767px) {
      border-color: $gray-200 $white $gray-200;
      border-width: 1px 0 1px 0;
    }
    span{
      @media only screen and (max-width: 767px) {
        border-bottom: 4px solid $secondary;
        padding-bottom: 15px;
      }
    }
  }
}

#downloads{
  margin: 80px 0;
  @media only screen and (max-width: 767px) {
    margin: 40px 0 80px 0;
  }
  .card-container{
    max-width: 800px;
    .card-content{
      &:nth-child(2){
        margin-top: 40px;
        @media only screen and (max-width: 767px) {
          margin-top: 0px;
        }
      }
      &:nth-child(3){
        margin-top: 80px;
        @media only screen and (max-width: 767px) {
          margin-top: 0px;
        }
      }
    }
    
    .card{
      min-height: 350px;
      max-width: 300px;
      margin: 0px auto 50px;
      .card-img-top{
        max-width: 100px;
        margin: 40px auto 20px;
      }
      .card-footer{
        border-top: none;
        background-color: $white;
        padding: 0;
        .card-img-dots{
          width: 100%;
          margin-bottom: 15px;
        }
        a{
          margin-bottom: 15px;
        }
      }  
    }
  } 
}

.bg-blue{
  background-color: $primary;
  position: absolute;
  z-index: -9;
  border: 1px solid $primary;
  height: 70%;
  width: 20%;
  top: 30%;
  &.right{
    right: 0px;
  }
  &.left{
    left: 0px;
  }
  &.dot{
    border: 1px solid $primary;
    &.right{
      right: 20%;
      border-radius: 180px 0 0 180px;
    }
    &.left{
      left: 20%;
      border-radius: 0 180px 180px 0;
    }
  }
  @media only screen and (max-width: 767px) {
    height: 35%;
    width: 35%;
    &.right{
      top: 20%;
    }
    &.left{
      top: 22%;
    }
    &.dot{
      &.right{
        right: 35%;
      }
      &.left{
        left: 35%;
        top: 22%;
      }
    }
  }
  @media only screen and (max-width: 375px) {
    top: 15%;
  }
  @media only screen and (max-width: 320px) {
    height: 25%;
  }
}

