$theme-colors: (
  "primary":    #5265E1,
  "secondary":  #FA5959
);

@import "../node_modules/bootstrap/scss/bootstrap";

p{
  color: $gray-600;
}
.btn-light{
  background-color: $gray-200;
  border-color: $gray-200;
}

.navbar .btn-secondary{
  color: $white;
}
.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 1);
    border: none;
}

#navMobile{
  .modal-header{
    border-bottom: none;
  }
  .modal-content{
    background-color: rgba(36, 41, 70, 0.9);
    .btn-close{
      background: center/1em auto no-repeat url(../dist/img/icon-close.svg);
      opacity: 1;
    }
  }
  .nav-item{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    text-align: center;
    color: $white;
    .nav-link{
      color: $white;
    }
    .btn{
      color: $white;
    }
  }
  .modal-footer{
    border-top: none;
  }
}

#hero{
  @media only screen and (max-width: 767px) {
    text-align: center;
  }
}

.bg-blue{
  background-color: $primary;
  position: absolute;
  top: 30%;
  z-index: -9;
  border: 1px solid $primary;
  height: 70%;
  width: 20%;
  &.right{
    right: 0px;
  }
  &.dot{
    border: 1px solid $primary;
    border-radius: 180px 0 0 180px;
    &.right{
      right: 20%;
    }
  }
  @media only screen and (max-width: 767px) {
    top: 20%;
    height: 35%;
    width: 35%;
    &.dot{
      &.right{
        right: 35%;
      }
    }
  }
  @media only screen and (max-width: 375px) {
    top: 15%;
  }
  @media only screen and (max-width: 320px) {
    height: 25%;
  }
}