#layout{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.content{
    background-color: #000;
    padding: 15px;
    margin: 20px 0;
}

#header_1{
    background-color: #2D4059;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    gap: 10px;
}
#header_1 div{
    min-height: 15px;
    background-color: #EA5455;
}
#header_1 div:nth-of-type(1) {flex-grow: 1;}
#header_1 div:nth-of-type(2) {flex-grow: 3;}
#header_1 div:nth-of-type(3) {flex-grow: 1;}

#header_2{
    background-color: #F07B3F;
    padding: 15px;
}
#header_2 div{
    min-height: 15px;
    background-color: #FED460;
}
#footer{
    min-height: 15px;
    background-color: #E6AF2E;
}
