.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    flex-wrap: nowrap;
    margin: 40px auto;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    background-color: #151515;
    a{
        color: #6C6C6C;
        text-decoration: none;
        padding: 5px 20px;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-bottom: 3px solid transparent;
        text-transform: uppercase;
        &:hover{
            color: #FFF;
            border-left: 1px solid #666;
            border-right: 1px solid #666;
            border-bottom: 3px solid #1654A4;
        }
        &.active{
            color: #FFF;
            border-left: 1px solid #666;
            border-right: 1px solid #666;
            border-bottom: 3px solid #1654A4;  
        }
    }
  }