body{
    margin: 15px;
}
#layout{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.bg_b{
    background-color: #000;
    padding: 15px;
    margin: 15px 0;
}

nav{
    background-color: #F07B3F;
    padding: 15px;
}
nav div{
    min-height: 15px;
    background-color: #FED460;
}

.content{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}


article{
    flex-grow: 2;
    padding: 15px;
    background-color: #4E4E6A;
}

section {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
section div{
    background-color: #1F6CB0;
    min-height: 15px;
    margin-bottom: 10px;
    width: 100%;
}
section .last{
    margin: 0;
    background-color: #70A3C4;
}


aside{
    background-color: #F73F52;
    padding: 15px;
    flex-grow: 1;
}
aside div{
    background-color: #FEEA85;
    min-height: 15px;
    flex-grow: 2;
}
aside div:nth-of-type(1){
    margin-bottom: 10px;
}

footer{
    min-height: 15px;
    background-color: #E6AF2E;
}

/* RESPONSIVE TABLET */
@media only screen and (max-width: 768px) {
    .content{
        background-color: #FEFF03;
        display: block;
    }
    article{
        margin-bottom: 15px;
    }  
}

/*RESPONSIVE MOBILE*/
@media only screen and (max-width: 414px) {
    header{
        display: block;
    }
    header div{
        margin-bottom: 15px;    }
    
    header div:nth-of-type(3){
        margin-bottom: 0;
    }
    section {
        display: block;
    }
}