@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');

body{
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
a{
    color: #808080;
}
a:hover{
    color: #EE7463;
}
i span{
    margin-left: 5px;
}

header{
    background-image: url("images/header.jpg");
    background-position-x: 50%;
    background-position-y: 53%;
    margin-bottom: 10px;
    height: 350px;
}
.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 30px;
    margin: 0 30px;
}
header img{
    width: 100%;
    max-width: 80px;
}
nav{
    width: 65%;
    margin: 0 auto;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.social a{
    margin-right: 10px;
}
h1{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    height: 95px;
    top: 144px;
    padding-top: 35px;
    font-family: 'Sorts Mill Goudy', serif;
    color: rgba(238, 116, 99, 0.8);
}

.content{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.content_text{
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    color: #808080;
}

article{
    flex-grow: 2;
    padding: 15px;
    background-color: #D8D7D7;
}

section {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-grow: 3;
}
section img{
    width: 100%;
    max-width: 405px;
}
section h2{
    background-color: #F08080;
    color: #fff;
    padding: 10px;
    margin-top: -15px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
section div{
    background-color: #F5F1F1;
    margin-bottom: 10px;
    padding: 10px;
}
.date{
    position: relative;
    color: #f7e676;
    left: 10px;
    top: -25px;
}
section .last{
    margin: 0;
    text-align: center;
    background-color: #D8D7D7;
}

aside{
    background-color: #D8D7D7;
    padding: 15px;
    flex-grow: 1;
    text-align: center;
}

footer{
    background-color: #D8D7D7;
    margin-top: 10px;
}
footer p{
    color: #808080;
    text-align: center;
    margin: 0 auto;
    background-color: #F5F1F1;
    max-width: 96%;
    padding: 10px;
}

/* RESPONSIVE TABLET */
@media only screen and (max-width: 768px) {
    .content{
        display: block;
    }
    article{
        margin-bottom: 15px;
    }  
}

/*RESPONSIVE MOBILE*/
@media only screen and (max-width: 414px) {
    header{
        background-position-y: 50%;
        height: 450px;
    }
    h1{
        height: 137px;
        top: 68px;
    }
    section {
        display: block;
    }
    .header_content{
        flex-direction: column;
        top: 0px;
        margin: 0px 10px;
    }
    nav{
        width: 100%;
        margin: 28px auto;
    padding-left: 15px;
    }
    nav ul{
        justify-content: flex-start;    }
    nav ul li{
        margin: 5px 10px;
    }
}