.botonInfo{
  border-radius: 50% !important;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
  padding: 0 !important;
}

.botonInfo i{
  font-size: 0.8rem;
  position: relative;
  bottom: 4px;
  right: 1px;
}

