@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: Poppins;
}
#errorPassword, #errorName, #errorPhone, #errorRequired, #errorMail {
    display: none;
    color: red;
}
input.error{
    border-color: red;
}